{% extends 'extras/navegacion.html' %}

{% load static %}


{% block pag %}

<title> Home </title>
<h1>¡Bienvenidos a mi sitio Web!</h1>

<img src="{% static 'icono.png' %}" alt="" width="50">


<p>Esto es un texto Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia possimus rem autem aperiam cum fugiat, harum ipsa? Explicabo eius possimus facere, neque nisi excepturi, natus eos temporibus delectus adipisci quod. Sequi eaque corrupti quo deserunt cumque facere saepe aliquid cum magnam! Ratione dolore ipsa fugit ducimus cumque animi quidem quaerat, incidunt quo cum iusto obcaecati doloribus sunt soluta magnam quas possimus reprehenderit? Dolorum eius libero vero at adipisci, veritatis aliquam harum deserunt similique est, repellat dicta? Perferendis accusantium distinctio soluta, ab nisi tenetur perspiciatis iusto? Autem, atque? Exercitationem, quidem sed blanditiis perferendis iure sequi, aspernatur voluptatum at deleniti quaerat illum. ipsum dolor sit amet consectetur adipisicing elit. Aut inventore, velit delectus mollitia cum eius perspiciatis facere asperiores. Eius obcaecati quo possimus, quia odio ducimus voluptate veniam. Assumenda, consectetur incidunt.</p>

{% endblock %}